/* Big desktop to 1400px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1440px) {
    .header-heading-main{
        font-size: 7.4rem;}
    .header-heading-secondary{font-size: 1.8rem}
    .header-quote{
        font-size: 5rem;
        line-height: 82px;
    }
    .header-img{height:500px;
        width: auto}
    .header-btn{
        font-size: 18px;
        padding: 6px 40px;
    }
    .description-card{
        margin:  0 70px 70px 70px;
        min-width: 300px;
    }
    .description-card_text{
        padding: 5px 20px 30px 20px;
        font-size: 20px;
    }
    .description-icon{
        margin: 20px;
        height: 55px;
    }
    .addPost-form{
        margin-bottom: -80px;}
    .addPost-input{
        font-size: 1.6rem;}
    .middle-heading{
        margin-bottom: 0;}
    .alert{
        width: 800px;
        height: 500px;
    }
    .patch-list-item{font-size: 1.5rem}
}
@media only screen and (min-width: 1441px) {
    .header-heading-main{
        font-size: 7.4rem;}
    .header-heading-secondary{font-size: 1.8rem}
    .header-quote{
        font-size: 5rem;
        line-height: 82px;
    }
    .header-img{height:550px;
        width: auto}
    .header-btn{
        font-size: 20px;
        padding: 7px 30px;
    }
    .description-card{
    min-width: 400px;
        margin: 0 50px 50px 50px;
    }
    .description-card_text{
        padding: 5px 20px 30px 20px;
        font-size: 20px;
    }
    .description-icon{
        height: 55px;
    }
    .addPost-form{
        margin-bottom: -80px;}
    .addPost-input{
        font-size: 1.6rem;}
    .middle-heading{
        margin-bottom: 0;}
    .alert{
        width: 800px;
        height: 500px;
    }


    .patch-list-item{font-size: 1.5rem}
}
/*@media only screen and (max-height: 700px) {*/
/*    .header-heading-main{*/
/*        font-size: 5.4rem;}*/
/*    .header-heading-secondary{font-size: 1.8rem}*/
/*    .header-quote{*/
/*        font-size: 5rem;*/
/*        line-height: 82px;*/
/*    }*/
/*    .header-img{height:500px;*/
/*        width: auto}*/
/*}*/


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1025px) {
    .header-heading-main{
        font-size: 6.4rem;}
    .header-heading-secondary{font-size: 1.8rem}
    .header-container{
    }
    .header-quote{
        font-size: 4rem;
        line-height: 60px;
    }
    .header-img{height:500px;
        width: auto}
    .description-card{
        margin: 30px;
        min-width: 250px;

    }
    .description-card_text{
        padding: 5px 20px 30px 20px;
        font-size: 20px;
    }
    .description-icon{
        height: 55px;
    }
}
/* lAPTOP with HighDPI screen */




/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {

    .header{
        padding: 15px;
    }
    .header-container{
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .header-heading-main{
        font-size: 3.8rem;}
    .header-heading-secondary{font-size: 1.8rem}
    .header-quote{
        font-size: 2.6rem;
        line-height: 48px;
        display: block;
    }
    .header-img{
        margin-top: 5px;
        height:250px;
        width: 250px}
    .header-btn{
        font-size: 18px;
        padding: 6px 40px;
    }
    .description-card{
        margin:  0 70px 70px 70px;
        min-width: 300px;
    }
    .description{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .mobile{
        position: absolute;
        display: block;
        font-size: 60px;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}




/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

}

